# LaTeX intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.snm
*.nav

# Glossaries and nomenclature
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy

# Latexmk cache
*.latexmk

.venv/
venv/
__pycache__/
